/* -*- Mode: CSS; tab-width: 2; indent-tabs-mode: nil; -*- */


/* vim:set ft=css ts=2 sw=2 sts=2 autoindent: */

.myNewClass .selectize-dropdown {
  // position: absolute !important;
  top: 100px !important
}

ion-popover {
  .kbd {
    font-family: "Arial", "Liberation Sans", sans-serif;
    font-size: 1em;
    padding: 0 .25em 0 .25em;
    border: solid 1px grey;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-shadow: 1px 1px silver;
  }
  .segmentation span {
    border: 1px dashed black;
    margin-right: 0.5em;
    padding: 0 0.3em;
    display: inline-block;
    min-width: 2em;
    text-align: center;
  }
}

.popover-md.selectizePopover .popover-content {
  width: 80vw;
  height: 100vh;
}

.popover-md.helpPopover .popover-content {
  width: 50vw;
}

page-annotate {
  .rtl input {
    direction: rtl
  }

  .topbar_button {
    float: right
  }
  div.tag {
    display: inline-block;
    position: relative;
    padding: 0.2em 0.5em 1.4em 0.5em;
    border: 1px green solid;
    border-radius: 8px;
    margin: 2px;
    min-width: 4em;
    text-align: center;
    font-family: "courier";
  }

  .element {
    position: relative;
    float: left;
    padding: 0.7em 1em 0.7em 1em;
    border: 1px blue solid;
    border-radius: 8px;
    margin: 2px;
    text-align: center;
    font-family: KawkabMonoLight;
    min-width: 4em;
    font-size: 0.9em; // height: 4.75vw;
    // min-height: 6.4em;
    // min-height: 4em;
    @mixin mobile-portrait-only {
      page-annotate & {
        font-size: 11pt;
      }
    }
    &.newline {
      clear: both;
    }
    &.copied {
      border: 1px blue dashed;
    }
    &.rtl {
      float: right;
    }
    &.highlight {
      box-sizing: border-box;
      box-shadow: inset 0px -5px 0px blue; // background-color: rgba(255, 255, 0, 1); // span.postag {
      // border-bottom: 3px solid rgba(255, 255, 0, 1); // span.postag {
    }

    &.unclear.highlight {
      background-color: orange;
    }
    &.unclear {
      background-color: rgba(255, 0, 0, 0.5);
      ;
    }
    &.isSeg {
      margin-right: 20px;
    }

    &.isSeg:before {
      content: "+";
      position: absolute;
      right: -20px;
      font-size: 18pt;
    }
    &.isCompound {
      background-color: rgba(1, 1, 1, 0.06);
      display: none;
      .postag {
        display: none;
      }
    }
    span.mf_missing {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 0.5em;
      color: red;
    }
    span.postag {
      // top: -1em;
      font-size: 0.1em;
      color: green;
      margin-left: auto;
      margin-right: auto; // left: 0;
      // right: 0;
      // bottom: 0;
      display: block;
      direction: ltr; // position: absolute;
    }
    span.lemma {
      font-size: 0.1em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 10ch;
      color: rgba(255, 0, 0, 0.5);
      margin-left: auto;
      margin-right: auto; // left: 0;
      display: block;
      direction: ltr; // position: absolute;
    }
    input.formInput {
      background-color: rgba(25, 255, 255, 0.2);
      border-color: rgba(0, 0, 0, 0);
      min-width: 50px!important;
      max-width: 99.99%!important;
      transition: width 0.25s;
      text-align: center;
    }
  }


  #sentences {
    // height: 84vh;
    overflow-y: scroll;
    max-height: 100%;
    .sentence {
      width: 100%;
      opacity: 0.4;
      &.isCurrentSentence{
        opacity: 1;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  span.fn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.7em;
  }


  #conlluTextArea textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    height: 60vh;
    border: 1px solid #ddd;
    padding: 5px;
  }
  #errorTextArea textarea {
    white-space: pre;
    color: red;
    overflow-wrap: normal;
    overflow-x: scroll;
    border: 1px solid #ddd;
    height: 10vh;
    padding: 5px;
  }
  span.gloss {
    display: block;
    color: #bbb;
    font-size: 0.7em;
    white-space: pre-wrap;
    margin-left: 1em;
  }

  /* Styling for annotations */
  #svg {
    margin: 34px auto 100px;
    padding-top: 15px;
  }

  .center_wrapper {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .center_wrapper>div {
    display: table-cell;
    vertical-align: middle;
  }
  .center_wrapper>div>div {
    /* match jQuery UI .ui-widget-content color */
    color: #2e6e9e;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    font-size: 12px;
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
  }
  .center_wrapper>div>div h1 {
    text-align: center;
    font-size: 14px;
  }
  #no_svg_wrapper {
    display: none;
  }

  svg {
    width: 100%;
    height: 1px;
    border: 1px solid #7fa2ff;
    font-size: 15px;
    /* font-size: 14px; */
  }
  svg.reselect {
    border: 1px solid #ff3333;
  }
  div.haserror>svg {
    border: 1px solid red;
  }

  /* "basic" font */
  text {
    font-size: 13px;
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
  }

  @-webkit-keyframes pulse {
    0% {
      color: #9999ff;
      margin-top: 0;
    }
    50% {
      color: #ffffff;
      margin-top: 7px;
    }
    100% {
      color: #9999ff;
      margin-top: 0;
    }
  }

  path {
    pointer-events: none;
  }

  /* "basic" font */
  .span text {
    /*  font-size: 10.5px; */
    font-size: 10px;
    text-anchor: middle;
    font-family: 'PT Sans Caption', sans-serif;
    pointer-events: none;
  }

  /* this should likely match span font */
  .span_type_label {
    font-size: 11px;
    font-family: 'PT Sans Caption', sans-serif;
  }
  /* this should likely match arc font */
  .arc_type_label {
    font-size: 11px;
    font-family: 'PT Sans Caption', sans-serif;
  }
  .attribute_type_label .ui-button-text {
    font-size: 11px;
    font-family: 'PT Sans Caption', sans-serif;
  }

  .span rect {
    stroke-width: 0.75;
  }

  .glyph {
    fill: #444444;
    font-family: sans-serif;
    font-weight: bold;
  }
  .attribute_warning {
    baseline-shift: super;
    font-size: 70%;
  }

  .span rect.False_positive {
    stroke: #ff4141;
    stroke-width: 2;
  }

  .shadow_True_positive {
    fill: #00ff00;
  }

  .shadow_False_positive {
    fill: #ff4141;
  }

  #commentpopup.comment_False_positive {
    background-color: #ff4141;
  }

  .span rect.False_negative {
    stroke: #c20000;
    fill: #ffffff;
    stroke-width: 2;
  }

  .shadow_False_negative {
    fill: #c20000;
  }

  #commentpopup.comment_False_negative {
    background-color: #c20000;
  }

  .span rect.AnnotationError {
    stroke-width: 1;
  }

  .shadow_AnnotationError {
    fill: #ff0000;
  }

  #commentpopup.comment_AnnotationError {
    background-color: #ff7777;
  }

  .span rect.AnnotationWarning {
    stroke-width: 1;
  }

  .shadow_AnnotationWarning {
    fill: #ff8800;
  }

  #commentpopup.comment_AnnotationWarning {
    background-color: #ff9900;
  }

  .shadow_AnnotatorNotes {
    /* fill: #00cc00; */
    fill: #3ab7ee;
  }
  #commentpopup.comment_AnnotatorNotes {
    /* background-color: #00cc00; */
    /* background-color: #DAF7DC; */
    background-color: #d7e7ee;
  }

  .shadow_Normalized {
    /* fill: #00cc00; */
    fill: #3aee37;
  }
  #commentpopup.comment_Normalized {
    /* background-color: #00cc00; */
    /* background-color: #DAF7DC; */
    background-color: #d7eee7;
  }
  rect.Normalized {
    stroke-width: 1.5;
  }

  .shadow_AnnotationIncomplete {
    fill: #aaaaaa;
  }
  .span rect.AnnotationIncomplete {
    stroke: #002200;
    stroke-width: 0.5;
    fill: #ffffff;
  }
  #commentpopup.comment_AnnotationIncomplete {
    background-color: #ffff77;
  }

  .shadow_AnnotationUnconfirmed {
    fill: #eeeeee;
  }
  .span rect.AnnotationUnconfirmed {
    stroke: #002200;
    stroke-width: 0.5;
    opacity: 0.5;
  }
  #commentpopup.comment_AnnotationUnconfirmed {
    background-color: #ddddff;
  }

  .span rect.True_positive {
    /* stroke: #007700; */
  }

  rect.shadow_EditHighlight {
    fill: #ffff99;
  }
  .shadow_EditHighlight_arc {
    stroke: #ffff99;
  }

  .span path {
    fill: none;
  }

  .span path.curly {
    /* 'stroke' def here blocks 'stroke' set in JS..? */
    /* stroke: grey; */
    stroke-width: 0.5;
  }

  .span path.boxcross {
    stroke: black;
    opacity: 0.5;
  }

  .arcs path {
    stroke: #989898;
    fill: none;
    stroke-width: 1;
  }

  .arcs .highlight path {
    stroke: #000000;
    stroke-width: 1.5;
    opacity: 1;
  }
  .arcs .highlight text {
    stroke: black;
    fill: black;
    stroke-width: 0.5;
  }
  .span.highlight rect {
    stroke-width: 2px;
  }
  .span rect.reselect {
    stroke-width: 2px;
  }
  .span rect.reselectTarget {
    stroke-width: 2px;
  }
  .arcs .reselect path {
    stroke-width: 2px;
    stroke: #ff0000 !important;
  }
  .arcs .reselect text {
    fill: #ff0000 !important;
  }

  .span rect.badTarget {
    stroke: #f00;
  }

  .arcs text {
    font-size: 9px;
    text-anchor: middle;
    font-family: 'PT Sans Caption', sans-serif;
    /* dominant-baseline: central; */
    cursor: default;
  }

  .background0 {
    stroke: none;
    fill: #ffffff;
  }

  .background1 {
    stroke: none;
    fill: #eeeeee;
  }

  .backgroundHighlight {
    stroke: none;
    fill: #ffff99;
  }

  .sentnum text {
    display: none;
    /* sentence number disabled for the time being. */
    fill: #999999;
    text-anchor: end;
  }

  .sentnum path {
    display: none;
    /* sentence number disabled for the time being. */
    stroke: #999999;
    stroke-width: 1px;
  }

  .span_cue {
    fill: #eeeeee !important;
  }

  .drag_stroke {
    stroke: black;
  }
  .drag_fill {
    fill: black;
  }


  .dialog {
    display: none;
  }
  #span_free_div,
  #arc_free_div {
    float: left;
  }
  fieldset {
    /* match relevant parts of jQuery UI .ui-widget-content */
    border: 1px solid #a6c9e2;
    /* round corners, same as jQuery UI .ui-corner-all */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* to prevent border from running into legend */
    margin-top: 5px;
  }
  fieldset legend {
    font-weight: bold;
    font-size: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #70a8d2;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .label-like {
    /* for UI consistency, this should match the "fieldset legend" style;
        sorry about the duplication. */
    font-family: monospace;
    font-weight: bold;
    font-size: 90%;
    /* match jQuery UI .ui-widget-content color */
    color: #2e6e9e;
  }

  .accesskey {
    text-decoration: underline;
  }


  .shadow {
    -moz-box-shadow: 5px 5px 5px #444444;
    -webkit-box-shadow: 5px 5px 5px #444444;
    box-shadow: 5px 5px 5px #444444;
  }

  #span_selected,
  #arc_origin,
  #arc_target {
    font-weight: bold;
  }

  #commentpopup {
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
    padding: 10px;
    display: none;
    border: 1px outset #000000;
    background-color: #f5f5f9;
    /* background-color: #d7e7ee; */
    /* background-color: #eeeeee; */
    color: #000000;
    z-index: 20;
    -moz-box-shadow: 5px 5px 5px #aaaaaa;
    -webkit-box-shadow: 5px 5px 5px #aaaaaa;
    box-shadow: 5px 5px 5px #aaaaaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 80%;
  }
  #more_info_readme {
    height: 350px;
  }
  #readme_container {
    position: relative;
  }
  #more_readme_button {
    padding: 2px 5px;
    position: absolute;
    top: -2px;
    right: -2px;
  }

  .comment_id {
    vertical-align: top;
    float: right;
    font-size: 75%;
    font-family: monospace;
    color: #333333;
  }
  .comment_type {
    /* font-weight: bold; */
  }
  .comment_text {
    font-weight: bold;
  }
  .comment_type_id_wrapper {
    /* padding for floating ID */
    padding-right: 2em;
  }
  .norm_info_label {
    font-weight: bold;
    font-size: 80%;
  }
  .norm_info_value {
    font-size: 80%;
  }
  .norm_info_img {
    float: right;
    margin-left: 1em;
  }

  #search_form select {
    width: 100%;
    /* deal with overflowing selectboxes */
  }

  .scroll_fset {
    height: 200px;
  }
  .scroll_fset fieldset {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  /* HACK to display <legend> properly */
  .scroll_fset {
    margin-bottom: 2.5em;
  }
  .scroll_fset fieldset {
    padding-bottom: 2em;
  }
  /* end HACK */
  .scroll_fset div.scroller {
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  #span_highlight_link,
  #arc_highlight_link,
  #viewspan_highlight_link {
    float: right;
  }

  .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
  }
  @font-face {
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Liberation Sans'), local('Liberation-Sans'), url('../static/fonts/Liberation_Sans-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Caption'), local('PTSans-Caption'), url('../static/fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
  }

  /* Apple iPad, iPhone, iPod */
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    select: none;
  }

  .span rect.AddedAnnotation {
    stroke: #ff4141;
    stroke-width: 2;
  }
  .shadow_AddedAnnotation {
    fill: #ff4141;
  }
  #commentpopup.comment_AddedAnnotation {
    background-color: #ffcccc;
  }
  .span rect.MissingAnnotation {
    stroke: #ffffff;
    stroke-width: 2;
  }
  .shadow_MissingAnnotation {
    fill: #ff4141;
    opacity: 0.3;
  }
  #commentpopup.comment_MissingAnnotation {
    background-color: #ffcccc;
  }
  .span rect.MissingAnnotation+text {
    opacity: 0.5;
  }
  .span rect.ChangedAnnotation {
    stroke: #ffff99;
    stroke-width: 2;
  }
  .shadow_ChangedAnnotation {
    fill: #ff4141;
  }
  #commentpopup.comment_ChangedAnnotation {
    background-color: #ffcccc;
  }

  /* embedding */
  pre.embedding {
    padding: 0;
    border: none;
    overflow: visible;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
    white-space: normal;
  }

  /* same margins for <div> and <pre><div> variants */
  .embedding,
  .embedding.embedded-wrapper {
    margin: 0.5em 0;
  }

  pre.embedded-wrapper,
  code.embedded-wrapper,
  .embedded-wrapper {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
    white-space: normal;
  }

  .show-hide-div {
    text-align: right;
  }
  .show-hide-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    -moz-border-bottom-left-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .show-hide-toggle .ui-button-text {
    padding: 1px 4px;
    font-size: 9px;
  }
  .embedded-brat-data {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 11px;
    border: 2px inset
  }
  a.doclink {
    text-decoration: none;
  }

  text {
    font-size: 13px;
    font-family: 'KawkabMonoLight', Verdana, Arial, Helvetica, sans-serif;
  }
  .span text {
    font-size: 14px;
  }
}

ion-input.form_input {
  font-family: KawkabMonoLight;
  padding: 1em;
  text-align: center;
  direction: rtl;
  line-height: 3em;
}


.ma-selectize-popover-page {
  .analysis {
    // border-bottom: 3px solid black;
    .topbar {
      width: 100%;
      direction: rtl;
      .lemma {
        color: #495c68;
        // font-size: small;
        font-family: KawkabMonoLight;
        display: inline-block;
        min-width: 10em;
      }
      .doctrue:before{
        content: "\00a0\00a0";
        background-color: #6f42c1;
      }

      .title {
        // color: white;
        font-size: 1.2vw;
        direction: rtl;
        padding: 0.5vw;
        // display: inline-block;
        text-align: center;
        min-width: 30%;
        display: inline-block;
        .by {
          display: inline-block;
          direction: ltr;
          color: green;
        }
      }
      .counter {
        border: 2px green solid;
        padding: 0 5px;
        margin-left: 5px;
        // float: right;
        display: inline-block;
        border-radius: 50%;
        width: 3vw;
        height: 2vw;
        text-align: center;
      }
    }
    .elements {
      list-style: none;
      margin: 0;
      direction: rtl;
      .element2 {
        display: inline-block;
        // position: relative;
        padding: 0.2em 0.5em 0.2em 0.5em;
        // border: 1px blue solid;
        border-radius: 8px;
        margin: 2px;
        text-align: center;
        font-family: KawkabMonoLight;
        min-width: 4em;
        font-size: 0.8vw;
        position: relative;

        &:first-child {
          margin-right: 0pt;
        }
        &:first-child:before {
          content: "";
          position: absolute;
          right: 0px;
          font-size: 18pt;
        }
        & {
          margin-right: 20px;
        }
        & .form {
          // float: right;
          // display: inline-block;
          margin-left: 0.2em;
        }
        & .pos {
          // float: left;
          color: green;
          margin-left: 0.2em;
          font-family: initial;
        }
        &:before {
          content: "+";
          position: absolute;
          right: -1em;
          // font-size: 18pt;
        }
      }
    }
  }


  .selectize-control {
    // height: 94.9vh !important;
  }
  .selectize-dropdown-content {
    // max-height: 90% !important;
  }
  .morphfeats {
    font-size: 0.6em
  }
  .morphfeats div{
    display: inline;
    padding: 3px;
  }
  .selected {
    // background-color: #ffffe5
  }
  .selectize-dropdown-content>div {
    // background-color: #eee;
    color: #495c68;
    border-bottom: 2px #ddd solid;
  }
  // .docfalse{
  //   background-color: green
  // }
}

.ADJ {
  background-color: rgba(227, 186, 179, 0.4);
}
.ADP {
  background-color: rgba(236, 240, 241, 0.4);
}
.ADV {
  background-color: rgba(245, 241, 213, 0.4);
}
.CCONJ {
  background-color: rgba(184, 189, 192, 0.4);
}
.DET {
  background-color: rgba(180, 214, 198, 0.4);
}
.NOUN {
  background-color: rgba(217, 206, 196, 0.4);
}
.NUM {
  background-color: rgba(236, 240, 241, 0.4);
}
.PART {
  background-color: rgba(227, 186, 179, 0.4);
}
.PRON {
  background-color: rgba(184, 189, 192, 0.4);
}
.PROPN {
  background-color: rgba(180, 214, 198, 0.4);
}
.PUNCT {
  background-color: rgba(227, 186, 179, 0.4);
}
.SCONJ {
  background-color: rgba(236, 240, 241, 0.4);
}
.VERB {
  background-color: rgba(217, 215, 134, 0.4);
}
.X {
  background-color: rgba(184, 189, 192, 0.4);
}
