<ion-input (keyup)="onChange($event)" class="form_input" value="{{this.element.form}}" autofocus></ion-input>
  <ion-list radio-group [(ngModel)]="rank" #diacs>
      <ion-list-header>
        Diacritization
      </ion-list-header>
        <ion-item radio-group *ngFor="let option of diacsOptions" [(ngModel)]="rank">
          <ion-label>{{option.diac}}
            <div class="segmentation">
              <span *ngFor="let seg of option.segmentation">{{seg}}</span>
            </div>
            <span>{{option.gloss}}</span>
            <span>{{map(option.pos)}}</span>
          </ion-label>
          <ion-radio value="{{option.rank}}"></ion-radio>
        </ion-item>
  </ion-list>