<ion-header>
  <ion-navbar>
    <ion-title>المشاريع</ion-title>
    <ion-buttons end>
      <button *ngIf="projectService.username!=null" right ion-button icon-only (click)="logout($event)" tabindex="-1">
        <ion-icon name="log-out"></ion-icon>
      </button>
      <button *ngIf="projectService.username!=null" right ion-button icon-only (click)="profile($event)" tabindex="-1">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding rtl>
  <ion-card>
  <ion-item-divider>
    المشاريع الحالية
  </ion-item-divider>
  	<ion-list>
    	<ion-item *ngFor="let p of projects">
    		{{p.project}}
    		<button ion-button outline item-end icon-left (click)="goto(p)">اذهب</button>
    		<button color="danger" ion-button outline item-end icon-left (click)="remove(p)">احذف</button>
    	</ion-item>
  	</ion-list>
	<ion-item *ngIf='projects.length === 0'>لا يوجد أي مشروع</ion-item>
  <ion-item-divider>
    مشروع جديد
  </ion-item-divider>
	<ion-item >
	    <ion-label fixed>اسم المشروع</ion-label>
	    <ion-input type="text" [(ngModel)]="new_project"></ion-input>
		<button ion-button outline item-end icon-left (click)="create()">إنشاء</button>
	</ion-item>
  </ion-card>
</ion-content>
