<ion-list *ngIf="show()">
  <ion-item-divider color="light">{{element?.form}}</ion-item-divider>
  <ion-item *ngFor="let e of this.options">
    <h2>
      <ion-badge color="secondary" item-start>{{e.percentage}}</ion-badge>
      {{config.getXPosTag(e.value).desc}}
      <button ion-button (click)="toggle(e)" icon-only tabindex="-1">
        <ion-icon name="eye" [hidden]="e.showDetails"></ion-icon>
        <ion-icon name="eye-off" [hidden]="!e.showDetails"></ion-icon>
      </button>
      <button ion-button (click)="assign(element,e)" icon-only tabindex="-1"> <ion-icon name="checkmark"></ion-icon></button>
    </h2>
    <p *ngIf="e.showDetails">
      <span style="display: block;" *ngFor="let ex of e.examples">{{ex}}</span>
    </p>
  </ion-item>
</ion-list>
